{
	"name": "spring",
	"components": {
		"1": {
			"type": "SpriteRenderer",
			"sprite": "spring_sprite",
			"sorting_order": -999
		},
		"2": {
			"type": "Rigidbody",
			"body_type": "kinematic",
			"has_trigger": false
		},
		"3": {
			"type": "BouncyBox"
		}
	}
}
